<div>
  <%= form_for @cuisine, html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <p><%= f.label :name, class: "col-xs-2" %>
      <%= f.text_field :name, class:"col-xs-10" %></p>
    </div>

    <div class="btn-group">
      <p><%= f.submit "Salvar", class: "btn btn-default" %></p>
    </div>
  <% end %>
</div>
