@import "bootstrap_and_overrides.css.less";
@import "forms.css.less";
@import "radio_button.css.less";
@import "page_defaults.css.less";
@import "recipe_page.css.less";


.image-frame img{
  width: auto;
  height: 200px;
  margin: 0 0 10px 5px;
}

 .thumb img{
   border-radius: 10px;
   margin: 10px;
 }

 .top{
   width: 40px;
   margin-left: 10px;
 }

 .info{
   padding-right: 10px;
 }

 .recipe-main{
   color: inherit;
 }

 .recipe-main:hover{
   color: inherit;
   text-decoration: inherit;
 }

 .recipe-main-table{
   margin-bottom: 10px;
   padding-top: 10px;
   border-radius: 10px;
   width: 310px;
   white-space: nowrap;
   text-overflow: ellipsis;
 }

 .cuisine{
   background: lightpink;
 }

 .type{
   background: lightblue;
 }

 .preference{
   background: lightgreen;
 }
